:root {
    --BLUE: #95D4E6;
    --PINK: #E6A1B7;
    --CYAN: #8AE5C7;
    --ORANGE: #E6AB73;
    --GREEN: #7EE689;
}


body {
    background-color: var(--ORANGE);
}

header {
    width: 100%;
    height: 20vh;
}

.upperpartHeader{
    background-color: var(--CYAN);
}
.lowerpartHeader{
    background-color: var(--BLUE);
}

header>div {
    height: 50%;
}

div {
    /* border: solid black 1px; */
}

.vcenter {
    display: flex;
    justify-content: left;
    align-items: center;
}

.hcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-inner {
    border-radius: 10px;
}

.cardImage {
    width: 100%;
    height: 100%;
}

.goodCategoryHeader {
    margin-top: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
}

.footerContainer {
    display: flex;
}

.footerSection {
    list-style-type: none;
    text-align: center;
    color: white;
    padding: 0px;
    margin: 0px;
}


.cart {
    /* fix at the right bottom corner */
    width: 20px;
    position: fixed;
    bottom: 100px;
    right: 100px;
}

.error{
    color: red;
    font-weight: bold;
}